.login {
	background-color: #1c437e;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.login > h1 {
	color: white;
	font-weight: 700;
	font-size: 3rem;
	position: absolute;
	top: 20%;
}
